http {
  upstream backend {
    least_conn;
    server 127.0.0.1:3002;
    server 127.0.0.1:3003;
  }

  server {
    listen 3001 http2;

    location / {
       proxy_pass http://backend;
    }
  }

  server {
    listen 3000;

    location / {
       proxy_pass http://backend;
    }
  }
}
